VITE_SUPABASE_URL=https://sorgnwscoogvknnlvszi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvcmdud3Njb29ndmtubmx2c3ppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2ODE3NDgsImV4cCI6MjEwNTI1Nzc0OH0.JHBjo0RW-nhM2dj0FmxdZUookD2k8v9hewBYgTtuoWI
